# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [14]:
Data_1="messsage"

### Print a message

In [15]:
print (Data_1)

messsage

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [19]:
SimpleMessage="message"

In [20]:
print (SimpleMessage)

message

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [1]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [23]:
# make uppercase
message= " PyThOn "
message.upper()

' PYTHON '

In [24]:
# make lowercase
message.lower()

' python '

In [28]:
# capitalize
message= "pyThOn "
message.capitalize()

'Python '

In [29]:
# title
message= " PyThOn "
message.title()

' Python '

In [31]:
# Concatination
print("welcome to " + message.lower())

welcome to  python

In [32]:
# length
len(message)

8

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [33]:
name= "kate"
print("Hello " + name)

Hello kate

In [40]:
print("Name in lower case- " + name.lower())

Name in lower case- kate

In [42]:
print("name in upper- " + name.upper())

name in upper- KATE

In [43]:
print("name in title- " + name.title())

name in title- Kate

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [45]:
print("Insert a newline character in a string. \nWhen the string is displayed, for each newline, \nmove the screen cursor to the beginning of the next line")

Insert a newline character in a string.
When the string is displayed, for each newline,
move the screen cursor to the beginning of the next line

In [49]:
print("Insert a horizontal tab. \tWhen the string is displayed, \tfor each tab, \tmove the screen cursor to the next tab stop")

Insert a horizontal tab. 	When the string is displayed, 	for each tab, 	move the screen cursor to the next tab stop

In [54]:
print(" backslash \\")

 backslash \

In [53]:
print("name the cat \"cat\"")

name the cat "cat"

In [55]:
print("need 'single quotes'")

need 'single quotes'

In [57]:
print("Chs: \n\tch1 \n\t\tch2 \n\t\t\tch3")

Chs:
	ch1
		ch2
			ch3

## Useful methods for split a string

In [59]:
message="this is a message"

In [60]:
message

'this is a message'

In [61]:
message.split(sep=" ")

['this', 'is', 'a', 'message']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [62]:
message = " this is message "

In [63]:
message.strip()

'this is message'

In [64]:
message.lstrip()

'this is message '

In [65]:
message.rstrip()

' this is message'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [68]:
name = "\tka\tte \natti\tas "
print(name)

	ka	te
atti	as

In [74]:
print(name.strip())

ka	te
atti	as

In [73]:
print(name.lstrip())

ka	te
atti	as

In [72]:
print(name.rstrip())

	ka	te
atti	as

#### Replacing words or characters of a string

In [75]:
print(message)

 this is message

In [78]:
message.replace("is","isn't")

" thisn't isn't message "

In [79]:
message.replace("message","orange")

' this is orange '

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [1]:
3+4.5

7.5

In [2]:
3*12

36

In [4]:
print("the answer: ",2**3)

the answer:  8

In [5]:
print("5 squared is: ",5**2)

5 squared is:  25

In [6]:
print("true division:",5/2)

true division: 2.5

In [8]:
print("floor division:",5//2)

floor division: 2

In [10]:
print("modulo/remainder:",347%12)

modulo/remainder: 11

## Avoiding Type Errors with the str() Function

In [14]:
age=18
name="Kate"
print("the age of "+name +" is "+str(age))

the age of Kate is 18

In [16]:
print("the age of "+name +" is", age)

the age of Kate is 18

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [12]:
print("adding:",70+21)

adding: 91

In [17]:
print("subtraction:",100-9)

subtraction: 91

In [18]:
print("multiply:",91*1)

multiply: 91

In [19]:
print("divide:",91/1)

divide: 91.0

In [20]:
favoritenumber=27
print("my favorite number is", favoritenumber)

my favorite number is 27

In [22]:
print("my favorite number is " +str(favoritenumber))

my favorite number is 27

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [24]:
flower_name=input("enter flower\'s name: ")

enter flower's name: Daffodil

In [25]:
faveday=input("what\'s your favorite day: ")

what's your favorite day: sundays

In [26]:
type(flower_name)

str

In [27]:
type(faveday)

str

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [28]:
favenumber=input("enter favorite number: ")

enter favorite number: 27

In [30]:
type(favenumber)

str

In [31]:
favenumber=int(input("enter favorite number: "))

enter favorite number: 27

In [32]:
type(favenumber)

int

In [33]:
floatnumber=float(input("enter floating point number: "))

enter floating point number: 27.77

In [34]:
type(floatnumber)

float

In [35]:
print(type(floatnumber))

<class 'float'>

## Checking the data type using `type` function

In [42]:
othernumber=27
print(type(othernumber))

<class 'int'>

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [41]:
print("start quote no finish)

SyntaxError: EOL while scanning string literal (2118930101.py, line 1)

In [44]:
len("Hello")=5

SyntaxError: cannot assign to function call (900386329.py, line 1)

In [45]:
1=variable

SyntaxError: cannot assign to literal (3490322675.py, line 1)

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [46]:
15/0

ZeroDivisionError: division by zero

In [48]:
subtotal=input("enter the total amt before tax: ")

enter the total amt before tax: 20

In [49]:
tax=0.06
print("the total is ", subtotal*tax+subtotal)

TypeError: can't multiply sequence by non-int of type 'float'

In [50]:
subtotal=int(input("enter the total amt before tax: "))

enter the total amt before tax: 20

In [51]:
tax=0.06
print("the total is ", subtotal*tax+subtotal)

the total is  21.2

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [53]:
number1=int(input("enter an integer number: "))
number_2=float(input("enter a floating point number: "))
print("these two numbers multiplied is: ", number1+number_2)

enter an integer number: 2
enter a floating point number: 1.5
these two numbers multiplied is:  3.5

In [54]:
print("these two numbers multiplied is: ", number1*number_2)

these two numbers multiplied is:  3.0