# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={} #empty dictionary
type(data)

dict

In [2]:
data1=dict() #empty dictionary
type(data1)

dict

In [3]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'} #key:value

In [5]:
print(type(data))
print(data)

<class 'dict'>
{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [6]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'} #key:value

In [7]:
data['Kentucky']

'Frankfort'

In [8]:
data['Alabama']

'Montgomery'

In [9]:
data['Louisiana'] #key error

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [10]:
day={1: 'Monday',
    2: 'Tuesday',
    4:['Thursday','Friday'],
    5: ('Saturday', 'Sunday')}

In [11]:
# monday
day[1]

'Monday'

In [12]:
#Friday
day[4][1] #[key][index]

'Friday'

In [13]:
#Saturday
day[5][0]

'Saturday'

Update the values; key is unique + immutable, value is mutable

In [14]:
#update Sunday to Holiday
day[5][1]='Holiday' # tuple update not possible

TypeError: 'tuple' object does not support item assignment

In [15]:
# update Thursday to Holiday
day[4][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

In [16]:
#update Monday to Holiday
day[1]='Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### `get` and `update` methods

In [17]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [18]:
# .get
data.get('Arizona') # looking for the key to return the value

'Pheonix'

In [19]:
# update old value to new and add new key value pair
print(data)
data.update({'Kentucky':'Louisville', 'Louisiana' : 'Baton Rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [20]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [21]:
data.update({'alabama':'Montgomery'}) # only way to update key
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [22]:
data
del data['Alabama']

In [23]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [24]:
del data['Ohio']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [25]:
deleted_state=data.pop('Arizona')
print("Deleted state", deleted_state)

Deleted state Pheonix

In [26]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [27]:
# Delete Montgomery
deleted_capitol=data.pop('alabama')
print(deleted_capitol)
print(data)

Montgomery
{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [28]:
del data # delete entire dictionary
print(data)

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [29]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'} #key:value

In [30]:
# number of element/value in dictionary
len(data)

5

In [31]:
# extract keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [32]:
# item/ key value pair
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [33]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [34]:
# for loop thru dictionary keys
for i in data.keys(): # unpack dict items
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [35]:
# looping thru values
for j in data.values():
    print("The capitiol is: ", j)

The capitiol is:  Montgomery
The capitiol is:  Pheonix
The capitiol is:  Atlanta
The capitiol is:  Frankfort
The capitiol is:  Salem

In [37]:
# looping thru items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [38]:
# tuple unpacking
for i, j in data.items():
    print("State: ", i, "Capitol: ", j)
    print(type(i), type(j))

State:  Alabama Capitol:  Montgomery
<class 'str'> <class 'str'>
State:  Arizona Capitol:  Pheonix
<class 'str'> <class 'str'>
State:  Georgia Capitol:  Atlanta
<class 'str'> <class 'str'>
State:  Kentucky Capitol:  Frankfort
<class 'str'> <class 'str'>
State:  Ohio Capitol:  Salem
<class 'str'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [39]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [40]:
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [41]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [2]:
favlang={
    'kate': ['french','japanese'],
    'aj': ['spanish'],
    'chris': ['japanese','italian'],
    'mark': ['english','chinese']
}

In [4]:
for name, languages in favlang.items():
    print("\n"+name.title()+"\'s favorite languages are: ")
    for i in languages:
        print("\t\t\t\t"+i.title())

Kate's favorite languages are:
				French
				Japanese

Aj's favorite languages are:
				Spanish

Chris's favorite languages are:
				Japanese
				Italian

Mark's favorite languages are:
				English
				Chinese

###  A Dictionary in a Dictionary

In [5]:
user={
    'einstein':{
        'first:':'albert',
        'last':'einstein',
        'location':'germany',
    },
    'mcurie':{
        'first':'marie',
        'last':'curie',
        'location':'paris',
    }
}

In [6]:
user

{'einstein': {'first:': 'albert', 'last': 'einstein', 'location': 'germany'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [10]:
for username,userinfo in user.items():
    print("\nUser Name: ", username)
    fullname=userinfo['first'] + " " + userinfo['last']
    location=userinfo['location']
    print("full name is " + fullname.title())
    print("location: "+location.title())

User Name:  einstein

KeyError: 'first'